body{margin-left:4%;margin-right:4%;margin-top:4%;margin-bottom:4%}
p{text-indent:0;margin-left:0;margin-right:0;margin-top:0;margin-bottom:1.3em;font-family:"Times New Roman",serif;font-size:109%}
.p0{text-align:center;margin-bottom:1.7em}
.p1{line-height:115%;text-align:center;margin-bottom:.83em}
.p2{text-align:center;margin-bottom:.58em}
.p3{line-height:115%;margin-bottom:.83em}
.p4{margin-bottom:1em}
.p5{line-height:115%;text-align:center;margin-top:1em;margin-bottom:.25em}
.p6{margin-bottom:.5em}
.p7{margin-bottom:.58em}
.p9{line-height:115%;margin-top:1em;margin-bottom:.25em}
.p10{margin-bottom:1.3em}
.p11{margin-bottom:0}
.p12{margin-bottom:1.2em}
.p13{margin-bottom:1.7em}
.p14{margin-bottom:1.4em}
.p15{margin-bottom:1.5em}
.t1{font-size:1.8em;line-height:100%}
.t3{color:blue;text-decoration:underline}
.t4{font-family:Times-Roman}
.t5{font-family:Cambria,serif;font-size:1.3em;line-height:115%}
.t6{font-size:1.7em;line-height:115%}
.t7{font-size:1.3em;line-height:115%}
.t8{font-family:Cambria,serif;font-size:1.2em;line-height:115%}
.t9{font-family:"MS Mincho",monospace}