@font-face
{
	font-family: "AGaramondPro";
	src: url(../fonts/AGaramondPro-Regular.otf);
	font-style: normal;
	font-weight: normal;
}
@font-face
{
	font-family: "AGaramondPro";
	src: url(../fonts/AGaramondPro-Italic.otf);
	font-style: italic;
	font-weight: normal;
}
@font-face
{
	font-family: "DidotLTStd";
	src: url(../fonts/DidotLTStd-Roman.otf);
	font-style: normal;
	font-weight: normal;
}
@font-face
{
	font-family: "DidotLTStd";
	src: url(../fonts/DidotLTStd-Italic.otf);
	font-style: italic;
	font-weight: normal;
}
@font-face
{
	font-family: "DidotLTStd";
	src: url(../fonts/DidotLTStd-Bold.otf);
	font-style: normal;
	font-weight: bold;
}
@font-face
{
	font-family: "DidotLTStd-Headline";
	src: url(../fonts/DidotLTStd-Headline.otf);
	font-style: normal;
	font-weight: normal;
}
@font-face
{
	font-family: "ACaslonPro";
	src: url(../fonts/ACaslonPro-Regular.otf);
	font-style: normal;
	font-weight: normal;
}
@font-face
{
	font-family: "ACaslonPro";
	src: url(../fonts/ACaslonPro-Italic.otf);
	font-style: italic;
	font-weight: normal;
}
@font-face
{
	font-family: "TradeGothicLTStd";
	src: url(../fonts/TradeGothicLTStd-Cn18.otf);
	font-style: normal;
	font-weight: normal;
}
@font-face
{
	font-family: "TradeGothicLTStd";
	src: url(../fonts/TradeGothicLTStd-BdCn20.otf);
	font-style: normal;
	font-weight: bold;
}
@font-face
{
	font-family: "BodoniStd";
	src: url(../fonts/BodoniStd-Book.otf);
	font-style: normal;
	font-weight: normal;
}
@font-face
{
	font-family: "BodoniStd";
	src: url(../fonts/BodoniStd-BookItalic.otf);
	font-style: italic;
	font-weight: normal;
}
@font-face
{
	font-family: "GoudyReg";
	src: url(../fonts/GoudySansStd-Book.otf);
	font-style: normal;
	font-weight: normal;
}
@font-face
{
	font-family: "GoudyReg";
	src: url(../fonts/GoudySansStd-Medium.otf);
	font-style: normal;
	font-weight: bold;
}
body
{
	text-align: justify;
	widows: 2;
	orphans: 2;
}
.h2b
{
	font-family: "DidotLTStd";
	font-size: 1.6em;
	margin-top: 25%;
	margin-bottom:30.0px;
	text-align: center;
	page-break-after: avoid;
	font-weight: normal;
}
.h2
{
	font-family: "DidotLTStd";
	font-size: 1.2em;
	margin-top: 25%;
	margin-bottom:4.5px;
	text-align: center;
	page-break-after: avoid;
	font-weight: normal;
}
.h2a
{
	font-family: "DidotLTStd-Headline";
	font-weight: normal;
	font-size: 1.8em;
	margin-top:0.0px;
	margin-bottom:18.0px;
	text-align: center;
	page-break-after: avoid;
}
.h3
{
	font-family: "DidotLTStd";
	font-size: 1.2em;
	margin-top:15.0px;
	margin-bottom:9.0px;
	text-align: center;
	page-break-after: avoid;
	font-weight: normal;
}
.h3a
{
	font-family: "DidotLTStd-Headline";
	font-size: 1.2em;
	margin-top:15.0px;
	margin-bottom:9.0px;
	text-align: center;
	page-break-after: avoid;
	font-weight: normal;
}
.copy
{
	font-family: "ACaslonPro";
	font-size: .8em;
	margin-top:0.0px;
	margin-bottom:0.0px;
	text-align: justify;
	text-indent:0.0px;
}
.copy1
{
	font-family: "ACaslonPro";
	font-size: .8em;
	margin-top:4.5px;
	margin-bottom:0.0px;
	text-align: justify;
	text-indent:0.0px;
}
.copya
{
	font-family: "ACaslonPro";
	margin-top:60.0px;
	margin-bottom:0.0px;
	text-align: justify;
	text-indent:0.0px;
}
.copy2
{
	font-family: "ACaslonPro";
	font-size: .8em;
	margin-top:0.0px;
	margin-bottom:0.0px;
	text-indent:18.0px;
}
.copy3
{
	font-family: "ACaslonPro";
	font-size: .8em;
	margin-top:0.0px;
	margin-bottom:15.0px;
	margin-left:105.0px;
	text-indent:0.0px;
}
.toc-front
{
	font-family: "DidotLTStd";
	margin-top:0.0px;
	margin-bottom:7.5px;
	padding-left: 1em;
	text-indent:-15.0px;
	text-align: justify;
}
.toc-chap
{
	font-family: "DidotLTStd";
	margin-top:0.0px;
	margin-bottom:7.5px;
	padding-left: 1em;
	text-indent:-15.0px;
	text-align: justify;
}
.toc-back
{
	font-family: "DidotLTStd";
	margin-top:0.0px;
	margin-bottom:7.5px;
	padding-left: 1em;
	text-indent:-15.0px;
	text-align: justify;
}
.dedication
{
	font-family: "DidotLTStd";
	font-size: 1.2em;
	margin-top: 20%;
	margin-bottom:0.0px;
	text-align: center;
}
.noindentp
{
	font-family: "AGaramondPro";
	margin-top:0.0px;
	margin-bottom:0.0px;
	text-indent:0.0px;
}
.att
{
	font-family: "AGaramondPro";
	margin-top:0.0px;
	margin-bottom:15.0px;
	text-align: right;
}
.centerp
{
	font-family: "AGaramondPro";
	margin-top: 10%;
	margin-bottom:22.5px;
	text-align: center;
}
.centerp1a
{
	font-family: "DidotLTStd";
	margin-top:30.0px;
	margin-bottom:15.0px;
	text-align: center;
}
.centerp1
{
	font-family: "DidotLTStd";
	margin-top:9.0px;
	margin-bottom:0.0px;
	text-align: center;
}
.noindentr
{
	font-family: "ACaslonPro";
	margin-top: 20%;
	margin-bottom:0.0px;
	margin-right:30.0px;
	margin-left:30.0px;
	text-indent:0.0px;
        text-align: justify;
}
.indentr
{
	font-family: "ACaslonPro";
	margin-top:0.0px;
	margin-bottom:0.0px;
	margin-right:30.0px;
	margin-left:30.0px;
	text-indent:18.0px;
        text-align: justify;
}
.indentrpbb
{
	font-family: "ACaslonPro";
	margin-top:0.0px;
	margin-bottom:0.0px;
	margin-right:30.0px;
	margin-left:30.0px;
	text-indent:18.0px;
        text-align: justify;
        page-break-after: always;
}
.blockc
{
	font-family: "ACaslonPro";
	margin-top:0.0px;
	margin-bottom:0.0px;
	margin-left:30.0px;
	margin-right:30.0px;
	text-indent:0.0px;
	text-align: justify;
	font-size: 0.9em;
}
.attc1
{
	font-family: "ACaslonPro";
	margin-top:0.0px;
	margin-bottom:0.0px;
	margin-right:30.0px;
	padding-left: 2em;
	text-align: right;
	font-size: 0.9em;
}
.attc
{
	font-family: "ACaslonPro";
	margin-top:0.0px;
	margin-bottom:22.5px;
	margin-right:30.0px;
	padding-left: 2em;
	text-align: right;
	font-size: 0.9em;
}
.block
{
	font-family: "ACaslonPro";
	margin-top:0.0px;
	margin-bottom:0.0px;
	margin-left:19.5px;
	margin-right:19.5px;
	text-indent:0.0px;
	font-size: 0.9em;
}
.blocki
{
	font-family: "ACaslonPro";
	margin-top:0.0px;
	margin-bottom:0.0px;
	margin-left:19.5px;
	margin-right:19.5px;
	text-indent:18.0px;
	font-size: 0.9em;
}
.noindenta
{
	font-family: "ACaslonPro";
	margin-top:15.0px;
	margin-bottom:0.0px;
	text-indent:0.0px;
}
.noindent
{
	font-family: "ACaslonPro";
	margin-top:0.0px;
	margin-bottom:0.0px;
	text-indent:0.0px;
}
.noindentpbb
{
	font-family: "ACaslonPro";
	margin-top:0.0px;
	margin-bottom:0.0px;
	text-indent:0.0px;
	page-break-after: always;
}
.noindentb
{
	font-family: "ACaslonPro";
	margin-top:0.0px;
	margin-bottom:22.5px;
	text-indent:0.0px;
}
.indent
{
	font-family: "ACaslonPro";
	margin-top:0.0px;
	margin-bottom:0.0px;
	text-indent:18.0px;
}
.indentpbb
{
	font-family: "ACaslonPro";
	margin-top:0.0px;
	margin-bottom:0.0px;
	text-indent:18.0px;
	page-break-after: always;
}
.indenta
{
	font-family: "ACaslonPro";
	margin-top:15.0px;
	margin-bottom:0.0px;
	text-indent:18.0px;
}
.indentb
{
	font-family: "ACaslonPro";
	margin-top:0.0px;
	margin-bottom:15.0px;
	text-indent:18.0px;
}
.center
{
	margin-top:7.5px;
	margin-bottom:6.0px;
	text-align: center;
}
.poem
{
	font-family: "ACaslonPro";
	margin-top:0.0px;
	margin-bottom:0.0px;
	padding-left: 2.4em;
	text-indent:-18.0px;
	text-align: justify;
}
.bull
{
	font-family: "ACaslonPro";
	margin-top:0.0px;
	margin-bottom:0.0px;
	padding-left: 2em;
	text-indent:-10.5px;
	text-align: justify;
}
.table
{
	font-family: "ACaslonPro";
	margin-top:15.0px;
	margin-bottom:0.0px;
	text-indent:0.0px;
	font-size: 0.9em;
	text-align: justify;
}
.table1
{
	font-family: "ACaslonPro";
	margin-top:15.0px;
	margin-bottom:0.0px;
	margin-left:15.0px;
	text-indent:0.0px;
	font-size: 0.9em;
}
.table2
{
	font-family: "ACaslonPro";
	margin-top:0.0px;
	margin-bottom:0.0px;
	margin-left:15.0px;
	text-indent:0.0px;
}
.note
{
	font-family: "ACaslonPro";
	margin-top:0.0px;
	margin-bottom:0.0px;
	text-indent:0.0px;
}
.caption
{
	font-family: "ACaslonPro";
	font-size: 0.8em;
	margin-top:0.0px;
	margin-bottom:9.0px;
	text-align: center;
}
div.group
{
	height: 80%;
	page-break-inside: avoid;
	page-break-before: auto;
	page-break-after: always;
}
div.groups
{
	height: 60%;
	page-break-inside: avoid;
	page-break-before: auto;
	page-break-after: always;
}
div.group1
{
	height: 80%;
	page-break-inside: avoid;
	page-break-before: auto;
}
div.groupw
{
	width: 100%;
	page-break-inside: avoid;
	page-break-before: auto;
	page-break-after: always;
}

div.groupw1
{
	width: 100%;
	page-break-inside: avoid;
	page-break-before: auto;
}

.indexmaina
{
	font-family: "ACaslonPro";
	margin-top:18.0px;
	font-size: .8em;
	margin-bottom:0.0px;
	padding-left: 2.4em;
	text-indent:-36.0px;
}
.indexmain
{
	font-family: "ACaslonPro";
	margin-top:0.0px;
	font-size: .8em;
	margin-bottom:0.0px;
	padding-left: 2.4em;
	text-indent:-36.0px;
}
.indexsub
{
	font-family: "ACaslonPro";
	margin-top:0.0px;
	margin-bottom:0.0px;
	margin-left:36.0px;
	font-size: .8em;
	text-indent:-18.0px;
}
.hang
{
	font-family: "ACaslonPro";
	margin-top:6.0px;
	margin-bottom:0.0px;
	padding-left: 1.2em;
	text-indent:-18.0px;
}
.image
{
	margin-top:60.0px;
	margin-bottom:6.75px;
	text-align: center;
}
.imagefp
{
	margin:0.0px;
	text-align: center;
	height: 98%;
}
div.box
{
	padding: 1em;
	margin-top:0.0px;
	margin-bottom:0.0px;
	margin-left:4.5px;
	margin-right:4.5px;
	border: double;
	border-color: #B68748;
}
.btexta
{
	font-family: "TradeGothicLTStd";
	font-size: 0.6em;
	margin-top:4.5px;
	margin-bottom:15.0px;
	text-align: center;
}
.btext
{
	font-family: "BodoniStd";
	margin-top:0.0px;
	margin-bottom:15.0px;
	text-indent:0.0px;
}
.btext1
{
	font-family: "TradeGothicLTStd";
	font-size: 0.8em;
	margin-top:0.0px;
	margin-bottom:0.0px;
	text-indent:0.0px;
	text-align: center;
}
.btext2
{
	font-family: "TradeGothicLTStd";
	font-size: 1.3em;
	margin-top:0.0px;
	margin-bottom:7.5px;
	text-indent:0.0px;
	text-align: center;
}
.btext3
{
	font-family: "TradeGothicLTStd";
	font-size: 0.7em;
	margin-top:0.0px;
	margin-bottom:0.0px;
	text-indent:0.0px;
	text-align: center;
}
.bimage
{
	margin-top:0.0px;
	margin-bottom:0.0px;
	text-align: center;
}
.bimage1
{
	margin-top:15.0px;
	margin-bottom:6.0px;
	text-indent:0.0px;
	text-align: center;
}
div.registration
{
	font-family: "GoudyReg";
	font-size: .9em;
	background-color: #e30e0e;
	border-radius: .2em;
	border: .1em black solid;
	margin-top:0.0px;
	margin-bottom:0.0px;
	padding: .3em 1.2em;
}
div.registrationtop
{
	font-size: .9em;
	border-radius: 1em 1em 0em 0em;
	box-shadow: 0em -.5em .5em 0em #888888 inset;
	padding: .49em .49em 1em .49em;
	border-top: .1em black solid;
	border-left: .1em black solid;
	border-right: .1em black solid;
	margin: 1em .49em 0 .49em;
}
div.registrationbottom
{
	font-size: .9em;
	border-radius: 0em 0em 1em 1em;
	box-shadow: 0em .7em .7em 0em #888888 inset;
	padding: 1.2em .49em .49em .49em;
	border-bottom: .1em black solid;
	border-left: .1em black solid;
	border-right: .1em black solid;
	margin: 0em .49em 0 .49em;
}
.reg1
{
	font-family: "GoudyReg";
	text-align: center;
	font-size: 1.3em;
	font-weight: bold;
	margin-top:3.0px;
	margin-bottom:9.0px;
	margin-left:3.0px;
	margin-right:3.0px;
}
.reg2
{
	font-family: "GoudyReg";
	text-align: center;
	line-height: 1.4em;
	margin-top:15.0px;
	margin-bottom:0.0px;
}
.reg3
{
	font-family: "GoudyReg";
	text-align: center;
	line-height: 1.4em;
	margin:0.0px;
}
.promo
{
	font-family: "GoudyReg";
	text-align: center;
	margin: 0;
	padding: .2em 0 0 0;
	font-weight: bold;
}
.promo1
{
	font-family: "GoudyReg";
	text-align: center;
	margin:7.5px;
	padding: .42em .3em .3em .3em;
	border: .2em double black;
	background-color: white;
	box-shadow: 0em 0em .8em black;
}
.promo2
{
	font-size: .849em;
}
.promo3
{
	text-decoration: none;
}
.hrpro
{
	margin-top:0.0px;
	margin-bottom:7.3500004px;
	margin-left: 30%;
	margin-right: 30%;
	font-size: .2em;
}
.nounderb
{
	text-decoration: none;
	color: black;
}
.nounder1
{
	text-decoration: none;
	color: black;
}
span.font
{
	font-family: "DidotLTStd";
	font-size: 1.2em;
	color: #B68748;
}
span.txit
{
	font-style: italic;
}
span.txbf
{
	font-weight: bold;
}
span.smallcaps
{
	font-size: 0.7em;
}
.nounder
{
	text-decoration: none;
}
span.weblink
{
	text-decoration: none;
}

body { text-align: justify; }