body{margin-left:5%;margin-right:5%;margin-top:5%;margin-bottom:5%}
p{text-indent:0;margin-left:0;margin-right:0;margin-top:0;margin-bottom:15pt;font-family:"Times New Roman";font-size:109%}
.p0{text-align:center;margin-bottom:7pt}
.p1{line-height:115%;text-align:center;margin-bottom:10pt}
.p2{margin-bottom:7pt}
.p3{line-height:115%;text-align:center;margin-top:12pt;margin-bottom:3pt}
.p4{line-height:115%;text-align:center;page-break-before:always;margin-bottom:3pt}
.p5{line-height:115%;text-align:right;margin-bottom:10pt}
.p6{text-align:center}
.p7{text-align:center;page-break-before:always}
.p8{text-align:center;margin-bottom:17pt}
.p10{line-height:115%;margin-bottom:10pt}
.p11{line-height:115%;page-break-before:always;margin-bottom:10pt}
.p12{page-break-before:always}
.p13{text-align:center;page-break-before:always;margin-bottom:17pt}
.p14{text-align:center;margin-bottom:20pt}
.p15{text-align:center;page-break-before:always;margin-bottom:20pt}
.p16{margin-bottom:20pt}
.p17{page-break-before:always;margin-bottom:20pt}
.p18{margin-bottom:6pt}
.p19{margin-bottom:12pt}
.p20{page-break-before:always;margin-bottom:12pt}
.p21{text-align:center;margin-bottom:0}
.p22{text-align:center;page-break-before:always;margin-bottom:0}
.p23{text-align:center;margin-bottom:14pt}
.p24{text-align:center;margin-bottom:12pt}
.p25{margin-bottom:0}
.p26{margin-bottom:14pt}
.p27{page-break-before:always;margin-bottom:14pt}
.p28{text-align:center;page-break-before:always;margin-bottom:12pt}
.t0{font-size:1.67em}
.t1{font-size:1.67em}
.t3{font-size:1em}
.t4{font-size:1.54em}
.t5{font-size:1.33em}
.t6{font-size:1.33em}
.t7{font-size:.92em}
.t8{font-size:1em;color:blue;text-decoration:underline}
.t9{font-family:Calibri;font-size:.92em}
.t10{font-family:Calibri;font-size:.92em}
.t11{font-size:2.38em}
.t12{font-size:1.25em}
.t13{font-size:3.13em}
.t14{font-size:1.88em}
